doctype html
html
    head
        title Happy Birthday and EveryDay
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf8")

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
        link(rel="stylesheet" type="text/css" href="/lib/page-transition/css/component.css")
        link(rel="stylesheet" type="text/css" href="/lib/page-transition/css/animations.css")
        script(src='/lib/jquery/dist/jquery.js')
        script(src="/lib/velocity.min.js")
        script(src="/lib/page-transition/js/modernizr.custom.js")
        script(src='/lib/bootstrap/dist/js/bootstrap.js')

        link(rel="stylesheet" type="text/css" href="/surprise/css/first.css")
        link(rel="stylesheet" type="text/css" href="/surprise/css/common.css")
        script(src="/surprise/time.js")
    body
        //button(id='iterateEffects') next

        #pt-main(class='pt-perspective')
            //include pages/first
            include pages/CountDown
            div(class="pt-page pt-page-1")
                h1
                    span A collection of 页面切换效果
            div(class="pt-page pt-page-2")
                h1
                    span A collection of 页面切换效果



        script(src="/lib/page-transition/js/jquery.dlmenu.js")
        script(src="/lib/page-transition/js/pagetransitions.js")
        script.
            var time = new Time('year', 'month', 'date', 'hour', 'minute', 'second');
            var year = null;
            var month = null;
            var date = null;

            function count() {
                console.info("counting");
                time.pass(100000, {
                    year: 2016,
                    month: 3,
                    date: 18,
                    hour: 12,
                    minute: 24,
                    second: 0
                }, false, function (res) {
                    if (res.year !== year || res.month !== month || res.date !== date) {
                        year = res.year;
                        month = res.month;
                        date = res.date;
                    }
                });
            }

            // debug

            particlesJS.load('particles-js', '/surprise/particles.json', function () {
                console.log('callback - particles.js config loaded');
            });

            $("#particles-js").velocity({
                backgroundColor: "#963232"
            }, {duration: 10000, delay: 5000}).velocity({
                backgroundColor: "#326432"
            }, {duration: 11000}).velocity({
                backgroundColor: "#bc3cbd"
            }, {duration: 11000}).velocity({
                backgroundColor: "#7063da"
            }, {duration: 11000}).velocity({
                backgroundColor: "#478c70"
            }, {duration: 11000}).velocity({
                backgroundColor: "#946134"
            }, {duration: 11000}).velocity({
                backgroundColor: "#682798"
            }, {duration: 11000}).velocity({
                backgroundColor: "#2e8a7e"
            }, {duration: 11000}).velocity({
                backgroundColor: "#924479"
            }, {duration: 11000, loop: true});

            $("#particles-js").one('click', function () {
                $("#start-music")[0].play();
                $("#play-mobile").velocity({
                    opacity: 0
                }, {
                    duration: 1500,
                    complete: function () {
                        $("#play-mobile").hide();
                    }
                })
            })

            $("#start-music").on('ended', function () {
                console.info("music ended");
                $("#iterateEffects").show(3000);
                $("#happy-birthday").velocity({
                    opacity: 0,
                    top: "-5vh"
                }, {
                    duration: 3000,
                    easing: "swing"
                });

                $("#everyday").velocity({
                    opacity: 0,
                    bottom: "-5vh"
                }, {
                    duration: 3000,
                    easing: "swing"
                });

                $("#iterateEffects").velocity({
                    opacity: 1
                }, {
                    duration: 3000,
                    easing: "swing"
                });
                $("#iterateEffects").one('click', function () {
                    $("#particles-js").velocity("stop");
                    setTimeout(count, 1000);
                })
            });

