extends ../layout

block specialRef
    link(rel='stylesheet' href='/stylesheets/admin/ArticleSet.css')
    script(src="/lib/vue/vue.js")

block content
    .row
        .col-xs-3#set-list
            ul
                li(@click="create" class="set-item-panel set-item-create-panel") 添加+

                li(@click="click(item)"  v-for="item in list" class="set-item-panel") {{item.name}}
                    span( class="badge right" style="float: right") {{item.size}}
                    div(class="background" v-if="selectedNo === item.no")

        .col-xs-4#set-detail
            //div
                button(@click="save" class="btn btn-primary" v-bind:class="{disable: disableSave}") {{action}}
            .input-group
                span(class="input-group-addon") 主题
                input(class="form-control" type="text" v-model="name")
            br
            textarea(v-model="description")
            br
            ul
                li(@click="click(article.no)" class="article-in-set" v-for="article in articles") {{article.title}}
            button(@click="save" class="btn btn-primary" v-bind:class="{disable: disableSave}") {{action}}
        .col-xs-5#article-list
            ul
                li(v-for="article in articleList" class="article-list-panel")
                    div(@click="click(article.no)" class="article-list-title") {{article.title}}
                    hr
                    div tags


    script(src="/javascripts/admin/ArticleSet.js")
