.pt-page.count-down-page

    #timer
        span(class='asenine-font big-date-font' id='year')
        span(class='asenine-font big-date-font') .
        span(class='asenine-font big-date-font' id='month')
        span(class='asenine-font big-date-font') .
        span(class='asenine-font big-date-font' id='date')
        span(class='asenine-font big-date-font') &nbsp;
        span(class='digit-font small-time-font' id='hour')
        span(class='digit-font small-time-font') :
        span(class='digit-font small-time-font' id='minute')
        span(class='digit-font small-time-font') :
        span(class='digit-font small-time-font' id='second')

    .big-date-font(style="visibility: hidden") space
    .panel.left-panel.row
        .col-xs-4
            .digit-font.xs-time-font 2017-10-10 23:23:23
            hr
            .cursive-font 第一次说“我爱你”索拉卡的激发了三大块积分啊算了看到房价拉萨扩大飞机啊是亮点阿斯利康的分解落实到附件
        .col-xs-8.first-of-what
            span 我第一次叫你“李兔倩”对你说啦啦啦

script.


