.pt-page
    script(src="/lib/particles.min.js")
    audio(id="start-music" controls="controls" autoplay="autoplay")
        source(src='/audios/HappyBirthday.mp3' type='audio/mpeg')
    #wish-title
        h1(class='wish-title' id='happy-birthday') Happy Birthday
        h4(class='wish-title-sm' id='and') and
            a(class="wish-title-more iterateEffects" id='iterateEffects' role='button') &nbsp;MORE&nbsp;
        h1(class='wish-title' id='everyday') Everyday
        #play-mobile ▶
    #particles-js
        //h1 生日快乐

