.pt-page
    script(src="/lib/particles.min.js")
    #particles-js
        //h1 生日快乐

script.
    particlesJS.load('particles-js', '/surprise/particles.json', function () {
        console.log('callback - particles.js config loaded');
    });