.pt-page(style="background-color: steelblue; color: white")
    .container
        h1(class='center') I &nbsp;
            b WANT &nbsp;
            span TO KISS YOUR SMILE,
        h1(class='center') SUFFER YOUR PAIN.
        h1(class='center') &nbsp;
        h1(class='center') I&nbsp;
            b WANT &nbsp;
            span TO HOLD YOU CLOSE,
        h1(class='center') UNDER THE RAIN.
        h1(class='center') &nbsp;
        h1(class='center') I&nbsp;
            b WANT &nbsp;
            span TO BEAT THE WORLD,
        h1(class='center') ONLY WITH YOU
        h1(class='center') &nbsp;
        h1(class='center') I&nbsp;
            b WANT &nbsp;
            span TO FEEL THIS WAY,
        h1(class='center') LONGER THAN
            a(class="iterateEffects" role='button' style='color: indigo') &nbsp;TIME

