.pt-page.container
    h1(class='center') I KNOW WHAT BEAUTIFUL IS,
    h1(class='center') LOOKING AT YOU.
    h1(class='center') &nbsp;
    h1(class='center') I KNOW WHERE I BELONG,
    h1(class='center') BEING WITH YOU.
    h1(class='center') &nbsp;
    h1(class='center') YOU MUST KNOW,
    h1(class='center') THAT YOU ARE ALL I
        a(class="iterateEffects" role='button') &nbsp;WANT&nbsp;

