.pt-page(style="background-color: tomato; color: white")
    .container
        h1(class='center') I &nbsp;
            b KNOW &nbsp;
            span WHAT BEAUTIFUL IS,
        h1(class='center') LOOKING AT YOU.
        h1(class='center') &nbsp;
        h1(class='center') I &nbsp;
            b KNOW &nbsp;
            span WHERE I BELONG,
        h1(class='center') BEING WITH YOU.
        h1(class='center') &nbsp;
        h1(class='center') YOU MUST &nbsp;
            b KNOW,
        h1(class='center') THAT YOU ARE ALL I
            a(class="iterateEffects" role='button' style="color: gold") &nbsp;WANT;

