extends ../layout

block specialRef
    link(href="/stylesheets/markdownEditor.css" rel="stylesheet")

block content
    include ./MdEditorComponent

    script.
        // 生成创建时间
        var time = new Date();
        var createTime = {
            year: time.getFullYear(),
            month: time.getMonth(),
            date: time.getDate(),
            hour: time.getHours(),
            minute: time.getMinutes(),
            second: time.getSeconds()
        };

        $("#save-btn").on('click', function () {
            var content = controller.getPureTextFromEditor();
            var title = $("#title").val();
            var no = $("#no").val();
            $("#save-btn").addClass("disabled");
            $("#save-btn").text("正在保存...");
            console.log("创建时间:"+JSON.stringify(createTime));
            $.ajax({
                url: "/article/save",
                type: "post",
                async: true,
                data: {content:content, title:title, no:no, createTime: JSON.stringify(createTime)},

                dataType: "text",
                success: function (res) {
                    console.info("saved");
                },
                error: function (res) {
                    console.error("error occurred when saving article");
                    console.error(res);
                },
                complete: function () {
                    $("#save-btn").removeClass("disabled");
                    $("#save-btn").text("保存");
                }

            });
        })
