extends ../layout

block specialRef
    link(rel='stylesheet', href='/stylesheets/welcome.css')
    link(rel='stylesheet', href='/stylesheets/VueComponents/NewsAbstract.css')
    //script(src="/lib/titanic/titanic.min.js")
    //script(src="/lib/titanic/bodymovin.min.js")
    //script(src="https://unpkg.com/vue")
    script(src="/lib/vue/vue.js")
    script(src="/lib/particles.min.js")

block content
    include ../common/nav
    //video(autoplay loop='false' id='bg-video')
        //source(src='/videos/got.mp4' type='video/mp4')
    #particles-js

    div(id="bg-wrapper")
        .video-tile(style="background-color: rgba(222,222,222,0.55);")
        .video-tile(style="background-color: rgba(222,222,222,0.37);")
        .video-tile(style="background-color: rgba(222,222,222,0.3);")
        .video-tile(style="background-color: rgba(222,222,222,0.26);")
        .video-tile(style="background-color: rgba(222,222,222,0.29);")
        .video-tile(style="background-color: rgba(222,222,222,0.38);")
        .video-tile(style="background-color: rgba(222,222,222,0.41);")
        .video-tile(style="background-color: rgba(222,222,222,0.40);")
        .video-tile(style="background-color: rgba(222,222,222,0.45);")
        //#caption {{content}}
        //#caption Constructing...

    .row.index-content
        .col-md-5
            #profile
                #caption Constructing...
        .col-md-7
            ul(id='news-list')
                li( v-for="news in newsList" )
                    news-abstract(:data='news')
                //li
                //    news-abstract




    script(src='/javascripts/VueComponents/NewsAbstract.js')
    script(src='/javascripts/welcome.js')
    script.
        //var list = new NewsAbstractFactory();
        //list.getTest();

        particlesJS.load('particles-js', '/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });