:root {
    --theme-color: rgba(220, 90, 90, 0.7);

}
html{
    font-size: 10px;
}
body {
    /*padding: 50px;*/
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

li {
    list-style: none;
}

.nav {
    padding: 10px 3%;
    text-align: center;
}

@media screen and (min-width: 20cm) {
    .nav {
        background-color: black;
    }
}

@media screen and (max-width: 20cm) {
    .nav {
        background-color: yellow;
    }

}