//需要引入bootstrap

nav(class="my-nav" id="my-nav" xmlns:v-on="http://www.w3.org/1999/xhtml")
    ul
        li(:class="{active: items.Index}")
            .big 首页
            .small Index
        li(:class="{active: items.Blog}")
            .big 博客
            .small Blog
        li(:class="{active: items.Lab}")
            .big 实验室
            .small Lab
        li(:class="{active: items.Me}")
            .big 我
            .small Me
    #like(:class="[isVoted? 'voted' : 'unvoted']" v-on:click="likeClick") Like it!&nbsp;
        span(:class="[isVoted? 'glyphicon glyphicon-heart':'glyphicon glyphicon-heart-empty']")
        #like-cnt + {{likeCnt}}
script(src="/javascripts/VueComponents/navigation.js")