//需要引入bootstrap

script.
    var titanic = new Titanic();
    titanic.init('/fonts/icons');
nav(class="nav")
    span(class="nav-logo") logo
    ul(class="nav-list")
        li btn1
        li btn2
        li btn3
        li btn4
        li btn5
    div(class='titanic titanic_caps' id='chat' style='width:50px;height:50px')
