@font-face{
    font-family: digit;
    src: url("/fonts/digit/Let'sGoDigitalRegular.ttf");
}
.center{
    text-align: center;
}

.hidden{
    visibility: hidden;
}

.pt-page{
    overflow-y: auto;
}

.container{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.digit-font{
    font-family: digit, serif;
    font-size: 6vw;
    font-weight: 100;
}

.small-time-font{
    font-size: 3vw;
}

.xs-time-font{
    font-size: 2vw;
}

.big-date-font{
    font-size: 8vw;
}

/*first.jade*/
#particles-js{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

#start-music{
    position: absolute;
    z-index: 10;
}

#wish-title{
    position: fixed;
    top: 25vh;
    z-index: 4;
    display: block;
    width: 100vw;
    pointer-events: none;
}

.wish-title{
    position: relative;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: asanine, fantasy;
    font-size: 10vw;
    color: lightgoldenrodyellow;
    z-index: 5;
    text-align: center;
}

.wish-title-sm{
    position: relative;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: asanine, fantasy;
    color: lightgoldenrodyellow;
    z-index: 5;
    text-align: center;
    font-size: 5vw;
    pointer-events: all;
}

.wish-title-more{
    display: none;
    margin: 0 5%;
    opacity: 0;
    border: 1px solid #faa1ab ;
    font-size: 4vw;
    font-weight: 800;
    color: whitesmoke;
}

#play-mobile{
    /*display: none;*/
    /*pointer-events: none;*/
}

/*count down page*/
.count-down-page{
    color: floralwhite;
    background-color: black;
}

hr{
    margin: 2px 0;
}

#timer{
    background-color: #dd666c;
    width: 100%;
    position: fixed;
    top: 0;
    padding-left: 20%;
}

.panel{
    background-color: #483e3e;
    padding: 10px 20px;
}

.left-panel{
    float: left;
}

.right-panel{
    float: right;
}

.first-of-what{
    height: 100%;
    padding: 2vw 0;
    font-size: 2vw;
    text-align: center;
}

.cursive-font{
    font-family: cursive;
    font-style: oblique;
}
@media screen and (max-width: 48em) {
    #play-mobile{
        /*border-radius: 50%;*/
        color: whitesmoke;
        /*border: 1px solid;*/
        position: relative;
        z-index: 10;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        font-size: 5vw;
        text-align: center;
        line-height: 40px;
        pointer-events: none;
        /*display: inline;*/
    }

    h1{
        font-size: 7vw;
    }

    h2{
        font-size: 6vw;
    }

    #start-music{
        /*display: none;*/
    }
}
