:root{
    --timeline-news-color: #1a6aad;
    --timeline-width: 100px;
    --dot-width: 20px;
    --triangle-top: 10px;
}

.news-abstract{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.news-abstract>.abstract{
    position: relative;
    float: left;
    width: calc(100% - var(--timeline-width));
    margin-bottom: 20px;
    color: whitesmoke;
}

.news-abstract>.abstract>.triangle{
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
    background-color: var(--timeline-news-color);
    width: 20px;
    height: 20px;
    position: relative;
    z-index: -2;
    left: 15px;
    top: var(--triangle-top);
    float: left;
}

.news-abstract>.abstract>.detail{
    float: left;
    width: calc(100% - var(--timeline-width));
    min-height: 100px;
    background-color: var(--timeline-news-color);
    padding: 5px 15px;
    border-radius: 5px;
}

.time-line{
    background-color: transparent;
    width: var(--timeline-width);
    position: relative;
    float: left;
    /*display: inline-block;*/
}

.time-line>.text{
    font-size: 14px;
}

.time-line>.line{
    position: absolute;
    right: 0;
    top: 0;
    width: var(--dot-width);
    height: 100vh;
}

.time-line>.line>.dot{
    border-radius: 50%;
    background-color: var(--timeline-news-color);
    position: absolute;
    height: var(--dot-width);
    width: var(--dot-width);
    top: var(--triangle-top);
}

.time-line>.line>.link{
    position: absolute;
    left: 7px;
    right: 7px;
    background-color: rgba(122, 120, 183, 0.5);
    height: 100%;
    z-index: -2;
}

